[phases.setup]
nixPkgs = ['python310', 'postgresql', 'gettext']

[phases.install]
cmds = [
    'pip install --upgrade pip',
    'pip install -r requirements.txt'
]

[phases.build]
cmds = [
    'python manage.py compilemessages',
    'python manage.py collectstatic --noinput'
]

[start]
cmd = 'gunicorn --bind 0.0.0.0:$PORT --timeout 60 --workers 2 eshop.wsgi:application'

[variables]
DJANGO_SETTINGS_MODULE = 'eshop.settings.production'
RAILWAY_ENVIRONMENT = 'production'