/* Carousel Styles */
.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 1;
    transform: translateX(0);
}

.carousel-item {
    -webkit-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: flex !important;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#carousel-1:checked ~ .carousel-indicators li:nth-child(1) label,
#carousel-2:checked ~ .carousel-indicators li:nth-child(2) label,
#carousel-3:checked ~ .carousel-indicators li:nth-child(3) label {
    opacity: 1;
}

.carousel:hover .carousel-open:checked + .carousel-item .block {
    opacity: 1;
}